	*{
		margin: 0;
		font-family: '微软雅黑','黑体',sans-serif;
	}
	/*初始化设置，使页面紧贴浏览器边缘*/
	body{
		background-color: #EEF0F4;
	}
	header{
		width: 100%;
		height: 50px;
		background: #5AC0CE;
		line-height: 50px;
		color: white;
	}
	.lside{
		width: 32%;
		float: left;
		text-align: left;
		margin-left: 1%;
	}
	.middle{
		width: 32%;
		float: left;
		font-size: 20px;
		font-weight: bold;
		text-align: center;
		margin: 0 1%;
	}
	.rside{
		width: 32%;
		float: right;
		text-align: right;
		margin-right:1%;
	}
	.phone input{
		width: 100%;
		height: 50px;
		margin: 8px 0;
		border: 0;
		background: white url(./登陆_02.png) 0% 50% no-repeat;
		text-indent: 120px;
	}
	.password input{
		display: block;
		width: 100%;
		height: 50px;
		margin: 8px 0;
		border: 0;
		background: white url(./密码_04.png) 0% 50% no-repeat;
		text-indent: 120px;
	}
	.logon input{
		width: 100%;
		height: 50px;
		border: 0;
		color: white;
		font-size: 20px;
		font-weight: bold;
		line-height: 50px;
		background-color: #5AC0CE; 
	}
	.corner{
		text-align: right;
		margin-right: 1%;
	}
	a{
		color: blue;
	}